<div>
    <h3>USO DE PIPES</h3>
    <label for="">Valor: </label>
    <input type="text">
    <p>Resultado: <span></span></p>
</div>
<div>
    <h3>CURRENCY PIPES</h3>
    <label for="">Valor: </label>
    <input type="text">
    <select name="" id="">
        <option value="" selected>Selecciona el tipo de moneda</option>
        <option value="">Dolar (USD)</option>
        <option value="">Euro (EUR)</option>
        <option value="">Soles (S/)</option>
    </select>
    <p>Resultado: <span></span></p>
</div>
